<div class="videopage">

    <mat-card class="card" *ngFor="let video of dataService.listOfVideo; index as i">
        <!-- <ul>
            <li> -->
                {{i + 1}}
               
                <!-- <video width="100%" height="300" id="mediaPlayer" #mediaPlayer preload="none">
                    <source type="video/youtube" src="{{video.url}}"/>
                </video> -->

                <iframe width="100%" height="300" [src]="sanitizer.bypassSecurityTrustResourceUrl(video.url)"></iframe>
                {{i + 1}}
                <p>{{video.name}}</p>
                <p>{{video.author}}</p>
                <!-- <div mat-card-avatar class=""><img id="img" alt="" width="48" style="border-radius: 50%;" [src]="this.video.avatarurl">
                </div>
                <mat-card-title> <a style="font-size:small; text-decoration: none; " [href]="video.url" dir="auto">{{video.name}}</a>
                </mat-card-title>
                <mat-card-subtitle>  -->
                    <!-- <a [href]="video.url" dir="auto" dir="auto">{{video.name}}</a> -->
                    <!-- <div id="metadata-line" class="style-scope ytd-video-meta-block">
            
                      <mat-card-title> <a  style="font-size: small; text-decoration: none; " [href]="video.url" dir="auto">{{video.author}}</a>
                      </mat-card-title>
                      
                      <mat-card-title> <a  style="font-size: small; text-decoration: none; " [href]="video.url" dir="auto">{{video.details}}</a>
                      </mat-card-title>
                    </div>
            
                </mat-card-subtitle> -->
            <!-- </li>
        </ul> -->
    
    </mat-card>
</div>