<mat-card class="example-card">
  <img mat-card-image
    src="https://i.ytimg.com/vi/AUnypjWNa7Q/hq720.jpg?sqp=-oaymwEZCNAFEJQDSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAWaFXrBD5bIO5axPUWn3jyIUmMxQ"
    alt="Photo of RAPCHO">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Justin Bieber - Changes (Nature Visual) </mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false"
        href="/channel/UCIwFjwMjI0y7PDBVEO9-bkQ" dir="auto">Justin Bieber</a>
    </p>
  </mat-card-content>
  
</mat-card>