.categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
}

.categoriesMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
}

::ng-deep .mat-icon {
    height: 44px !important;
    width: 44px !important;
    font-size: 44px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}