<div class="categories">
    <div class="categoriesMenu">
        <app-trending-categories *ngFor="let item of dbButton" [dbButton]="item">
        </app-trending-categories>
    </div>

</div>

<div class="video-trending">
    <mat-card class="row" *ngFor="let item of video.listOfVideo">

        <iframe class="column left" width="50%" height="200" [src]="sanitizer.bypassSecurityTrustResourceUrl(item.url)"></iframe>
        <mat-card-content class="column right">
            <p style="font-size: large;">{{item.name}}</p>
            <br>
            <p style="font-size: medium;">
                <img [src]="item.avatarurl" style="border-radius:50%; border-color:black"> {{item.author}}
            </p>
            <br>
            <p style="font-size:small">{{item.details}} </p>
        </mat-card-content>
    </mat-card>
</div>
<div>
    <router-outlet></router-outlet>
</div>