<div style="display: flex;justify-content: space-evenly;flex-direction: row ; margin-top:50px">
    <span style="font-size:medium;">Hôm nay
      
    </span>
    <section style="margin-top:-7px; margin-left:400px">
        <button mat-stroked-button style="border: none;">QUẢN LÝ</button>
        <button mat-icon-button>
            <mat-icon style="margin-bottom:5px">view_module</mat-icon>
          </button>
        <button mat-icon-button>
            <mat-icon style="margin-bottom:5px">view_list</mat-icon>
          </button>
    </section>


</div>

<div style="display: flex;justify-content: center; margin-top:200px">
    Chèn Video HERE
</div>