<div style="display: flex;justify-content: space-evenly;flex-direction: row ; margin-top:50px">
    <span style="font-size:medium;">Hôm nay
      
    </span>
    <section style="margin-top:-7px; margin-left:400px">
        <button mat-stroked-button style="border: none;">QUẢN LÝ</button>
        <button mat-icon-button>
            <mat-icon style="margin-bottom:5px">view_module</mat-icon>
          </button>
        <button mat-icon-button>
            <mat-icon style="margin-bottom:5px">view_list</mat-icon>
          </button>
    </section>


</div>

<div>
    <div class="homepage">
        <mat-card class="card" *ngFor="let video of dataService.listOfVideo">
            <img mat-card-image [src]='video.pictureURL' alt="Photo of JB">
            <mat-card-header>
                <div mat-card-avatar class=""><img id="img" alt="" width="48" style="border-radius: 50%;" [src]="video.avatarurl"></div>
                <mat-card-title> <a style="font-size:small; text-decoration: none; " [href]="video.url" dir="auto">{{video.name}}</a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-subtitle>
                <!-- <a [href]="video.url" dir="auto" dir="auto">{{video.name}}</a> -->
                <div id="metadata-line" class="style-scope ytd-video-meta-block">

                    <mat-card-title> <a style="font-size: small; text-decoration: none; " [href]="video.url" dir="auto">{{video.author}}</a>
                    </mat-card-title>

                    <mat-card-title> <a style="font-size: small; text-decoration: none; " [href]="video.url" dir="auto">{{video.details}}</a>
                    </mat-card-title>
                </div>

            </mat-card-subtitle>

        </mat-card>
    </div>

</div>