app-nav-bar{
    position: relative;
  }
  
  mat-sidenav-container {
    width: 100%;
    height: 89.5% !important;
  }
  
  mat-sidenav {
    width: 3% !important;
    height: 100% !important;
  }
  
  