<mat-toolbar color="primary" class="container">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Ten San Pham</span>
    <span class="example-spacer"></span>
    <h5 *ngIf="authService.user != null"> {{authService.user.displayName}} </h5>

    <form class="searchBox">
        <input matInput placeholder="Search">
    </form>
  
    <mat-icon aria-hidden="false" aria-label="video_call">video_call</mat-icon>
    <mat-icon aria-hidden="false" aria-label="view_comfy">view_comfy</mat-icon>
    <mat-icon aria-hidden="false" aria-label="notifications_none">notifications_none</mat-icon>




    <button mat-button (click)="openDialog()">Login</button>
    <!-- <button *ngIf="authService.user == null " mat-icon-button class="example-icon favorite-icon" aria-label="Login"
        (click)="authService.login()">
        <a mat-raised-button target="_blank">Log in</a>
    </button>
    <button *ngIf="authService.user != null" mat-icon-button class="example-icon" aria-label="Sign out"
        (click)="authService.signout()">
        <a mat-raised-button target="_blank">Log out</a>
    </button> -->

</mat-toolbar>
