.example-spacer {
    flex: 1 1 auto;
  }
.searchBox {
    text-align: center;
    padding: 2px 6px;
    position: relative;
    align-items: center;
    width: 70%;
}


// .content {
//   background-color: #191919;//#0F4C81;
//   font-family: 'Balsamiq Sans', cursive;
//   font-size: 40px;
//   color: whitesmoke;
//   display: flex; justify-content: space-between;
// }

// button {
//   color: whitesmoke;
//   margin-left: -1%;
// }

// ::placeholder {
//   color: white;
//   font-size: 30px;
//   opacity: 0.5;
// }

// .mat-input-element {
//   max-width: fit-content;
// }
