<mat-toolbar color="primary" class="container">

    <button mat-icon-button class="example-icon" (click)="changeEvent()">
        <mat-icon>menu</mat-icon>
    </button>


    <span>YoutubeClone</span>
    <span class="example-spacer"></span>



    <form class="searchBox">
        <div class="example-button-row">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Search">
            </mat-form-field>
            <button mat-button>
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </form>


    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon style=" margin-right: 40px;" aria-hidden="false" aria-label="video_call">video_call</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>live_tv</mat-icon>
            <span>Upload Video</span>
        </button>
        <button mat-menu-item>
            <mat-icon>rss_feed</mat-icon>
            <span>Live</span>
        </button>
    </mat-menu>


    <button mat-icon-button [matMenuTriggerFor]="menu123" aria-label="Example icon-button with a menu">
        <mat-icon style=" margin-right: 40px;" aria-hidden="false" aria-label="view_comfy">view_comfy</mat-icon>
    </button>
    <mat-menu #menu123="matMenu">
        <button mat-menu-item>
            <mat-icon>comment</mat-icon>
            <span>Comment</span>
        </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu123456" aria-label="Example icon-button with a menu">
        <mat-icon style=" margin-right: 40px;" aria-hidden="false" aria-label="notifications_none">notifications_none
        </mat-icon>
    </button>
    <mat-menu #menu123456="matMenu">
        <button mat-menu-item>
            <mat-icon>verified</mat-icon>
            <span>Admin</span>
        </button>
        <button mat-menu-item>
            <mat-icon>shop</mat-icon>
            <span>Notification</span>
        </button>
    </mat-menu>



    <img *ngIf="authService.user != null " src="{{authService.user.photoURL}}"
        style="width: 50px; height: 50x; border-radius: 50%;">
    <h5 *ngIf="authService.user != null" style="font-size: medium;"> {{authService.user.displayName}} </h5>


    <div *ngIf="authService.user == null">
        <button mat-button (click)="openDialog()">Login</button>
    </div>
    <div *ngIf="authService.user != null">

        <button mat-button (click)="authService.signout()">
            Log out
        </button>
    </div>
</mat-toolbar>