.example-spacer {
    flex: 1 1 auto;
  }

.container{
    height: 56px;
    padding: 0 50px;
}

// .searchBox input{
//     display: flex;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
// }
