<div style="text-align:center; margin-top: 200px" *ngIf=" authService.user == null">
    <mat-icon style="font-size:800%; width:200px;height: 100px;">
        subscriptions
    </mat-icon>
    <p style="font-size:25px; font-family: Arial, Helvetica, sans-serif; margin-top:15px">Đừng bỏ lỡ những video mới</p>
    <p style="font-size:15px; font-family: Arial, Helvetica, sans-serif;">Đăng nhập để xem cập nhật từ các kênh Tube yêu thích của bạn
    </p>
    <button (click)="openDialog()" mat-stroked-button style="border: none;position:relative;text-align:start;width: 120px;background:none;border: solid gray 1.5px;">
        <mat-icon style="margin-top:-2px;margin-left:-4px">account_circle</mat-icon>
       <span style="text-align: start;
       position:absolute;
       top:0px;margin-left:5px">Đăng Nhập</span>
    </button>
</div>

<app-subcriptionslogin *ngIf="authService.user != null"></app-subcriptionslogin>