
div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    right: 60px;
span {
    font-family: 'Dancing Script', cursive;
  }
}