<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div style="display: flex; justify-content: center; align-items: flex-start; width: 100%; height: 100%; margin-top:20%">
            <p style="font-size: larger;">Lịch sử xem</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div style="display: flex; justify-content: flex-start; flex-direction: column; align-items: center; width: 100%; height: 100%; margin-top:30%;margin-left:10%">
            <div>
                <p style="font-size: medium;">Loại lịch sử</p>
            </div>
            <div>
                <mat-checkbox color="warn">Lịch sử xem</mat-checkbox>
                <hr width="200px">
                <mat-checkbox color="warn">Lịch sử tìm kiếm</mat-checkbox>
                <hr width="200px">
                <mat-checkbox color="warn">Lịch sử bình luận</mat-checkbox>


            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>