<mat-grid-list cols="2" rowHeight="1:2">
    <mat-grid-tile>
        <div style="display: flex; justify-content: center; align-items: flex-start; width: 100%; height: 100%; margin-top:20%;">
            <p style="font-size: larger;">Lịch sử xem</p>

            <p style="font-size: medium;">Loại lịch sử</p>


            <mat-checkbox color="warn">Lịch sử xem</mat-checkbox>
            <hr width="200px">
            <mat-checkbox color="warn">Lịch sử tìm kiếm</mat-checkbox>
            <hr width="200px">
            <mat-checkbox color="warn">Lịch sử bình luận</mat-checkbox>




        </div>

    </mat-grid-tile>

</mat-grid-list>













<div>
    <div class="history-video">

        <mat-card class="card" *ngFor="let item of video.listOfVideo">

            <iframe width="100%" height="150" [src]="sanitizer.bypassSecurityTrustResourceUrl(item.url)"></iframe>
            <mat-card-content>
                <p>{{item.name}}</p>
                <br>
                <p>{{item.author}}</p>
                <br>
                <p>{{item.details}} </p>
            </mat-card-content>
        </mat-card>

    </div>

</div>