<mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile colspan=3>
        <div style="display: flex; justify-content: center; align-items: flex-start; width: 20%; height: 100%; margin-top:20%">
            <p style="font-size: larger;">Lịch sử xem</p>
        </div>
        <div>
            <div class="video-trending">
                <mat-card class="row" *ngFor="let item of video.listOfVideo">

                    <iframe class="column left" width="50%" height="200" [src]="sanitizer.bypassSecurityTrustResourceUrl(item.url)"></iframe>
                    <mat-card-content class="column right">
                        <p style="font-size: large;">{{item.name}}</p>
                        <br>
                        <p style="font-size: medium;">
                            <img [src]="item.avatarurl" style="border-radius:50%; border-color:black; width: 30px; "> {{item.author}}
                        </p>
                        <br>
                        <p style="font-size:small">{{item.details}} </p>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=1>
        <div style="display: flex; justify-content: flex-start; flex-direction: column; align-items: center; width: 100%; height: 100%; margin-top:30%;margin-left:10%">
            <div>
                <p style="font-size: medium;">Loại lịch sử</p>
            </div>
            <div>
                <mat-checkbox color="warn">Lịch sử xem</mat-checkbox>
                <hr width="200px">
                <mat-checkbox color="warn">Lịch sử tìm kiếm</mat-checkbox>
                <hr width="200px">
                <mat-checkbox color="warn">Lịch sử bình luận</mat-checkbox>


            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>